/* This file is used to make tweak the documentation colours and make it CSS2 compatible.*/

.wy-nav-side {
  overflow: hidden !important;
}

.wy-side-nav-search > div.version {
  color: rgb(94, 94, 94) !important;
}

.wy-side-nav-search {
  background-color: rgb(77, 122, 77) !important;
}

.wy-nav-content a {
  color: rgb(77, 122, 77);
}

.wy-nav-content a:hover {
  color: rgb(96, 156, 96);
}

code.literal,
span.literal {
  color: rgb(94, 94, 94) !important;
}

.rst-content code.xref,
.rst-content tt.xref,
a .rst-content code,
a .rst-content tt {
  color: initial !important
}

.note {
  background-color: rgb(230, 238, 230) !important;
}

.note .admonition-title {
  background-color: rgb(77, 122, 77) !important;
}

#rtd-search-form input {
  width: 80% !important;
  color: black !important;
}

.wy-breadcrumbs .icon-home:before {
  content: "Home" !important;
  font-family: Lato, proxima-nova, Helvetica Neue, Arial, sans-serif !important;
}

.wy-breadcrumbs .wy-breadcrumbs-aside {
  display: none;
}

.wy-side-nav-search {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.wy-breadcrumbs .breadcrumb-item {
  display: inline !important;
}

.highlight-python,
.highlight-console,
.highlight-default {
  border: 1px solid #e1e4e5 !important;
  margin: 1px 0 24px !important;
  background: #f8f8f8 !important;
  width: 100% !important;
}

.highlight pre {
  white-space: pre !important;
  margin: 0 !important;
  padding: 12px !important;
  display: block !important;
}

.highlight {
  border: none !important;
  margin: 0 !important;
}

.sig-object {
  display: table !important;
  margin: 6px 0 !important;
  margin-top: 6px !important;
  font-size: 90% !important;
  line-height: normal !important;
  background: rgb(230, 238, 230) !important;
  color: rgb(77, 122, 77) !important;
  border-top: 3px solid rgb(101, 145, 101) !important;
  padding: 6px !important;
  position: relative !important;
}

.sig-object .property,
.sig-object .sig-param,
.sig-object .sig-paren {
  font-size: 90% !important;
  line-height: normal !important;
  color: rgb(77, 122, 77) !important;
}

.sig-object .sig-name,
.sig-object .sig-prename {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, Courier, monospace !important;
  color: #000 !important;
}

dd .sig-object {
  margin-bottom: 6px !important;
  border: none !important;
  border-left-width: medium !important;
  border-left-style: none !important;
  border-left-color: currentcolor !important;
  border-left: 3px solid #ccc !important;
  background: #f0f0f0 !important;
  color: #555 !important;
}

dd .sig-name {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, Courier, monospace !important;
  color: #000 !important;
}

dd .property,
dd .sig-param,
dd .sig-paren {
  color: inherit !important
}

.rst-footer-buttons {
  display: table !important;
  width: 100% !important;
}

.rst-footer-buttons .float-left {
  display: table-cell !important;
}

.rst-footer-buttons .float-right {
  display: table-cell !important;
}

.fa-arrow-circle-right:before {
  content: " →" !important;
}

.fa-arrow-circle-left:before {
  content: "← " !important;
}

.btn {
  border-color: #e1e4e5 !important;
  padding: 6px 12px !important;
  border-bottom: 2px solid #ccc !important;
  box-shadow: none !important;
  transition: none !important;
}

.btn:active {
  border-top: 2px solid #ccc !important;
  padding: 5px 12px 7px !important;
  border-bottom-width: 1px !important;
}

.wy-menu-vertical a:active {
  background-color: rgb(77, 122, 77) !important
}